<h2>New Game</h2>

<ul id="sortable" class="letters-container">
  <% @letters.each do |letter|%>
    <li class="letter">
      <%= letter %>
    </li>
  <% end %>
</ul>

<ul id="result" class="letters-container">

</ul>

<form id="the-form" action="/score" method='POST'>
  <input type="text" name="word" id="word">
  <input type="hidden" name="grid" value="<%= @letters %>">
  <input type="submit" value="Write the longest word!">
</form>